body {
    background-color: #E5FCF5;
}


h2 {
  color: #484A4C;
}

body {
  font-family: 'Lato', sans-serif;
  color: #384554;
  letter-spacing: 0.0425em;
}



h1 {
  margin-bottom: 25px;
}

.form-control:focus {
  box-shadow: none;
  outline: 0;
  border: 2px solid #000;
}

.title {
  background: #210124;
  padding: 15px;
  font-size: 18px;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 0.0625em;
}

.list,
.results {
  padding: 15px;
  background-color: #FEFFFE;
  margin-bottom: 15px;
}

.details {
  /*padding: 15px;*/
  /*background-color: white;
  margin-bottom: 15px;*/
}

.list,
.results {
  border: 1px solid #750D37;
  display: inline-block;
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.button-actions {
  float: right;
}

/* Custom button style */

.btn {
    /*padding: 14px 24px;*/
    padding: 5px 10px;

    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary, .btn-primary:focus {
    background: #f44336;
    color: #ffffff;
}
.btn-primary:hover,  .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #a00e03;
}
/*.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}*/
