.container {
  margin: auto;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 	1.5em;
  color: #384554;
  letter-spacing: 0.0425em;
  line-height: 1.5;
  background-color: #E5FCF5;
}

h2 {
  color: #484A4C;
}

h1 {
  margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-control:focus {
  box-shadow: none;
  outline: 0;
  border: 2px solid #000;
}

.title {
  background: #210124;
  padding: 15px;
  font-size: 18px;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 0.0725em;
}

.list,
.results {
  padding: 15px;
  background-color: #FEFFFE;
  margin-bottom: 15px;
}

.right {
  float: right;
}
.left {
  float: left;
}

.list,
.results {
  border: 1px solid #750D37;
  display: inline-block;
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
  margin-top: 10px;
}

/* Custom button style */

.btn {
    padding: 5px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary, .btn-primary:focus {
    background: #f44336;
    color: #ffffff;
}
.btn-primary:hover,  .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #a00e03;
}

.button-actions {
  float: right;
}

/* Media Queries */

@media(max-width: 768px){

.list ul li {
  float: none;
  display: block;
  margin: 0;
  border-bottom: 1px solid #CCCCCC;
}

.list ul {
  padding: 0;
}

.list input{
  float: none;
  display: block;
  margin-bottom: 10px;
}

.right {
  float: none;
}
